/* --- RESUME --- */
.window__resume {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    height: calc(100% - 20px);

    margin-bottom: -16px;
}

.resume__iframe {
    flex-grow: 1;
}
/* fix iframe eating events when wm events are occurring/not focused */
.window[data-name="Resume Viewer"]:not([data-wm_order="0"]) iframe,
.window[data-name="Resume Viewer"][data-isdragging="true"]  iframe,
.window[data-name="Resume Viewer"][data-isresizing="true"]  iframe {
    pointer-events: none;
}

.window__resume .resume__toolbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: flex-start;

    margin-top: 4px;
    padding: 2px;
}

.window__resume .resume__toolbar > a {
    margin-left: 1rem;
}


.window__resume iframe.resume__iframe--mobile {
    height: 0;
    width: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

/* --- PROMPT --- */

.window[data-name="Prompt"] > .window-body {
    margin: 0;
}

/* --- PORTFOLIO --- */
.window[data-name="Portfolio - Work"],
.window[data-name="Portfolio - School"],
.window[data-name="Portfolio - Personal"] {
    max-width: 90vw;
}

/* --- EXPLORER --- */

.explorer__body {
    background-color: white;
    min-height: 200px;

    box-shadow: var(--inset__inverse);

    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.explorer__desktop {
    display: grid;
    grid-template-rows: repeat(auto-fill, 78px);
    grid-template-columns: repeat(auto-fill, 64px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    color: black;

    user-select: none;
    -webkit-user-select: none;

    flex-grow: 1;

    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* --- NOTEPAD --- */

.window[data-name="Notepad"] .notepad__textarea {
    flex-grow: 1;
    font-family: courier-new, courier, monospace;
    padding: 8px;
    resize: none;

    min-height: 100px;
    min-width: 200px;
}

/* --- EMAIL --- */

.window[data-name="Email"] .email__body {
    flex-grow: 1;
    /*font-family: courier-new, courier, monospace;*/
    padding: 8px;
    resize: none;

    min-height: 200px;
    min-width: 300px;
}

.window[data-name="Email"] .email__send {
    justify-self: flex-end;
}

/* --- RUN --- */

.window[data-name="Run"] .run__runbar {
    margin-bottom: 10px;
}

.window[data-name="Run"] .run__runbar > span {
    margin: 0 10px 0 5px;
}

/* POLAROID */

 /* @IMPORT <link> href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet" </LINK> */

 @import url(https://fonts.googleapis.com/css?family=Poor+Story);

 * {
  box-sizing: border-box;
}

.wrapper {
  /* width: 100%; */
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #f8f7f6;
  padding: 1rem;
  box-shadow: 7px 7px 2px 1px rgba(0, 15, 6, 0.2);
  border-radius: 10px;
}
.polaroid > img{
  max-width: 300px;
  height: auto;
}
.caption {
  font-family: 'MillenniumBold';
  font-size: 1rem;
  text-align: center;
  line-height: 2em;
}
.subcaption {
  font-family: 'MillenniumBold';
  font-size: 0.75 rem;
}
.item {
  /* width: 100%; */
  display: inline-block;
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(103,57,31,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}

/* colors */
:root {
	--Speech-Bubble-Border:#222;
	--Speech-Bubble-Background:#fcfcfc;
	--Speech-Bubble-Text:#000;
}

.pixel-speech-bubble {
  max-width: 100%;
  width: auto;
  flex: 1; /* take available space */
  font-family: silkscreen;
  color: var(--Speech-Bubble-Text);
}

.bub-part-a,
.bub-part-b,
.bub-part-c {
  height: 2px;
  background: var(--Speech-Bubble-Border);
}

.bub-part-b,
.bub-part-c {
  background: var(--Speech-Bubble-Background);
  border-left: 2px solid var(--Speech-Bubble-Border);
  border-right: 2px solid var(--Speech-Bubble-Border);
}

.bub-part-b {
  margin-left: 4px;
  width: calc(100% - 8px);
}

.bub-part-c {
  margin-left: 2px;
  width: calc(100% - 4px);
}

.bub-part-a {
  margin-left: 6px;
  width: calc(100% - 12px);
}

.speech-txt {
  padding: 10px;
  background: var(--Speech-Bubble-Background);
  border-left: 2px solid var(--Speech-Bubble-Border);
  border-right: 2px solid var(--Speech-Bubble-Border);
  font-size: 15px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: 'Millennium';
}

.speech-bubble-container {
  display: flex;
  align-items: center;
  gap: 0;
  max-width: 100%;
  width: auto;
  flex: 1; /* take available space */
  /* font-family: silkscreen;
  color: var(--Speech-Bubble-Text); */
}

.pixel-speech-bubble-arrow {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 10px solid var(--Speech-Bubble-Border);
  position: relative;
}

.pixel-speech-bubble-arrow::after {
  content: '';
  position: absolute;
  top: -7px;
  left: 2px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 8px solid var(--Speech-Bubble-Background);
}

.marker {
  position: relative;
}

.marker svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.marker path {
  stroke: rgba(121, 110, 104, 0.5);
  fill: none;
  stroke-width: 1.2;
  stroke-linecap: round;
}