/* DesktopView.css */

.desktop-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: black;
}

.website-frame {
  width: 100%;
  height: 100%;
  border: none;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.noise-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none; /* ensures clicks go through */
  width: 100%;
  height: 100%;
}
